<!DOCTYPE html>
<html>
	<head>
		<title>Passport-Remember Me Example</title>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			</p>
		<% } else { %>
			<p>
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>
	</body>
</html>
